name: xbt_env_xgboost
channels:
  - defaults
dependencies:
  - pandas=1.0.5
  - xgboost
  - scikit-learn=0.23
  - iris=2.4
  - python=3.7
  - ipykernel
  - ipywidgets
prefix: /root/my-conda-envs/xbt_env_xgboost

