# Author: Francesco Capponi
# mail: francesco.capponi@metoffice.gov.uk
# date: 23/02/2018
# Scientific suite for launching XBTs classification experiments


#!Jinja2
{% set SOURCE = '' %}                                                 # Input data basepath
{% set OUTPATH = '' %}                                                # Output data basepath
{% set LEARNER_CLASS = ''%}                                           # name of the sklearn class used for the classification
{% set EXPERIMENTS_FOLDER = ''%}                                      # Folder containing json descriptors characterizing experiments
{% set DESCRIPTOR_PATTERN = '' %}                                     # Pattern characterzing your json descriptor
{% set NEXPERIMENTS = %}                                              # Number of experiments


{% set STARTYEAR = 19670101 %}                                        # Starting point for data retrieval
{% set ENDYEAR = 20160101 %}                                          # End point for data retrieval

title = "Run XBTs classification"

[cylc]
    UTC mode = True
    [[parameters]]
    experiment = 0..{{NEXPERIMENTS}}                               

[scheduling]
max active cycle points = 20
initial cycle point = {{STARTYEAR}}               
final cycle point = {{ENDYEAR}}                 
 
    [[dependencies]]
		  [[[P1Y]]]
		  graph = XBTs_run_experiments_pipeline:finish-all => plot_results
[runtime]		  
	[[root]]
	
	init-script="""export ROSE_TASK_CYCLE_TIME=$CYLC_TASK_CYCLE_POINT
		       export experiments=$(seq 0 {{NEXPERIMENTS}}) """
	
	      [[[job submission]]]
	      batch system = slurm
	      execution time limit = PT20H
	      submission retry delays = 10*PT1M
	      execution retry delays = 10*PT1M
              [[[directives]]]
                 slurm host=localhost
                 --mem=20G  
                 --ntasks=4  
                 --time=01:00:00  
              [[[environment]]]
              
              SOURCE={{SOURCE}}
              EXPERIMENT_PREFIX={{EXPERIMENTS_FOLDER}}/{{DESCRIPTOR_PATTERN}}
              OUTPATH={{OUTPATH}}             
              RESULTS_SOURCEDIR={{OUTPATH}}/{{LEARNER_CLASS}}        
        [[XBTs_run_experiments_pipeline]]
        script="""rose task-run --app-key=classification_pipeline"""
                                       [[XBTs_run_experiments_pipeline<experiment>]]
                                       	inherit = XBTs_run_experiments_pipeline
        
	[[plot_results]]
        script="""rose task-run --app-key=plot_results"""
                   
